<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.update.naluspack.nightly</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>cd /Users/jrood/NaluNightlyTesting/NaluSpack &amp&amp ./test_scripts/update_naluspack.sh</string>
  </array>

  <key>UserName</key>
  <string>jrood</string>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
      <key>Hour</key>
      <integer>0</integer>
      <key>Minute</key>
      <integer>0</integer>
  </dict>

  <key>StandardErrorPath</key>
  <string>/Users/jrood/NaluNightlyTesting/jobs/last_naluspack_update.err</string>

  <key>StandardOutPath</key>
  <string>/Users/jrood/NaluNightlyTesting/jobs/last_naluspack_update.out</string>
</dict>
</plist>
